torch==2.2.1
transformers==4.37.2
datasets==2.16.1
wandb==0.16.3
tqdm==4.66.2
accelerate==0.27.0
peft==0.7.0
trl<0.9.0
bitsandbytes==0.41.0
unsloth @ git+https://github.com/unslothai/unsloth.git#egg=unsloth[colab-new]
flash-attn==2.3.0
xformers==0.0.22
einops==0.6.0
numpy>=1.24.0
pandas>=2.0.0
pillow>=10.0.0
scikit-learn>=1.3.0
ninja
packaging
safetensors>=0.4.0
psutil>=5.9.8
pyyaml>=6.0.1